<a href="https://colab.research.google.com/github/pondbaahh/data_viz_2022/blob/main/Basic_Programming_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Functions $(f(x) = y)$



```python
def function(input_x):
    # do something with input_x to get output_y
    return output_y

```

$f_1(x)=x^2 + 75$

In [ ]:
def function_f1(x):
    a = x**2 #ยกกำลังคือ **
    y = a+75
    return y

print('done!')

done!

In [ ]:
function_f1(3)

84

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1. บอก python ว่าเราจะเขียนฟังก์ชัน ชื่ออะไร ```def function_name():```(ขาดไม่ได้)
2. กำหนดตัวแปรที่จะเป็น input *Input *(ขาดได้)
3. ส่วนประมวลผล do_something with *Input* to get *Output* (ขาดไม่ได้)
4. ส่วน output return *Output*(ขาดได้)

### ตัวอย่าง function ที่มีส่วนประกอบครบ

In [ ]:
def function_f1(x):
    a = x**2 #ยกกำลังคือ **
    y = a+75
    return y

### ตัวอย่าง function ที่ไม่มี input

In [ ]:
def pi_v():
    y = 3.14159265359
    return y

In [ ]:
piv = pi_v()
circle_area_r2 = piv*(2**2)
print(circle_area_r2)

12.56637061436

### Function ไม่มี process ไม่ได้

In [ ]:
def function_a():

SyntaxError: ignored

### ตัวอย่าง Function ที่ไม่มี output

In [ ]:
def print_name_id(name,id):
    print(f'ชื่อ {name} รหัสประจำตัว {id}')

In [ ]:
a = print_name_id('วัชราภรณ์','623020535-7')

ชื่อ วัชราภรณ์ รหัสประจำตัว 623020535-7

In [ ]:
a

ตัวอย่าง function print https://www.programiz.com/python-programming/methods/built-in/print

In [ ]:
print('วัชราภรณ์')
print('623020535-7')

วัชราภรณ์
623020535-7

In [ ]:
print('วัชราภรณ์',end='->')
print('623020535-7')

วัชราภรณ์->623020535-7

In [ ]:
print('วัชราภรณ์','623020535-7')

วัชราภรณ์ 623020535-7

In [ ]:
print('วัชราภรณ์','623020535-7',sep=' & ')

วัชราภรณ์ & 623020535-7

### input ของ function เเบ่งเป็น 2 ชนิด(จำเป็นต้องใส่ กับ ไม่จำเป็ฯต้องใส่)

ตัวอย่าง function print_grade() มี input 3 ตัว จำเป็นต้องใส่ 2 ตัว คือ name กับ id และไม่จำเป็นต้องใส่ 1 ตัว คือเกรด ซึ่งมีค่า default เป็น F

In [ ]:
def print_grade(name,id,grade = 'F'):
    print(f'รหัสประจำตัว {id} ชื่อ {name}')
    print(f'ได้เกรด {grade}')

In [ ]:
print_grade('นางสาววัชราภรณ์ นามมุงคณ','623020535-7')

รหัสประจำตัว 623020535-7 ชื่อ นางสาววัชราภรณ์ นามมุงคณ
ได้เกรด F

In [ ]:
print_grade('นางสาววัชราภรณ์ นามมุงคณ','623020535-7','A')

รหัสประจำตัว 623020535-7 ชื่อ นางสาววัชราภรณ์ นามมุงคณ
ได้เกรด A

In [ ]:
print_grade(id='623020535-7',name='นางสาววัชราภรณ์ นามมุงคณ',grade='B+')

รหัสประจำตัว 623020535-7 ชื่อ นางสาววัชราภรณ์ นามมุงคณ
ได้เกรด B+

### Looping (for)



```python
for member in listEx:
    do_something()

```

In [ ]:
for member in [1,2,3,4,5,6]:
    print(member)

1
2
3
4
5
6

In [ ]:
def print_name(name):
    print(f'ฉันชื่อ {name}')

In [ ]:
for name in ['วัชราภรณ์','ชลธิชา','จุฑากาญจน์','ญาดา','กิตติคุณ']:
    N = name
    print_name(N)

ฉันชื่อ วัชราภรณ์
ฉันชื่อ ชลธิชา
ฉันชื่อ จุฑากาญจน์
ฉันชื่อ ญาดา
ฉันชื่อ กิตติคุณ

In [ ]:
list_name_id_grade = [['นางสาวเบญญาภา ระภูเขียว','623020527-6','B'],
                      ['นางสาวปลายฟ้า คำเพ็ง','623021005-1','C'],
                      ['นางสาวทักษิณา ราชหุ่น','623021000-1','A']]

In [ ]:
for each in list_name_id_grade:
    name = each[0]
    id = each[1]
    grade = each[2]
    print_grade(name,id,grade)
    print('-------------')

รหัสประจำตัว 623020527-6 ชื่อ นางสาวเบญญาภา ระภูเขียว
ได้เกรด B
-------------
รหัสประจำตัว 623021005-1 ชื่อ นางสาวปลายฟ้า คำเพ็ง
ได้เกรด C
-------------
รหัสประจำตัว 623021000-1 ชื่อ นางสาวทักษิณา ราชหุ่น
ได้เกรด A
-------------

### ใช้ for loop เพิ่มสมาชิกใน list

In [ ]:
list_name = []
list_id = []
list_grade = []
for each in list_name_id_grade:
    list_name.append(each[0])
    list_id.append(each[1])
    list_grade.append(each[2])

In [ ]:
list_name

['นางสาวเบญญาภา ระภูเขียว', 'นางสาวปลายฟ้า คำเพ็ง', 'นางสาวทักษิณา ราชหุ่น']

### การวนลูปด้วย range()

In [ ]:
for i in range(100): #list สมาชิก 100 ตัว
    print('งง', end = ' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

### Loop ซ้อน Loop

In [ ]:
for mem1 in range(2,5): #[2,3,4]
    print(f'now mem1 = {mem1}')
    for mem2 in range(1,13): #[1,2,3,4,5,6,7,8,9,10,11,12]
        print(f'{mem1} x {mem2} = {mem1*mem2}')
    print(f'end inner for mem1 = {mem1}')

now mem1 = 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
end inner for mem1 = 2
now mem1 = 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
end inner for mem1 = 3
now mem1 = 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
end inner for mem1 = 4

### Loop in Function

In [ ]:
def print_grade_loop(name,grades):
    for n,g in zip(name,grades):
        print(f'{n} ได้เกรด {g}')

In [ ]:
print_grade_loop(list_name,list_grade)

นางสาวเบญญาภา ระภูเขียว ได้เกรด B
นางสาวปลายฟ้า คำเพ็ง ได้เกรด C
นางสาวทักษิณา ราชหุ่น ได้เกรด A

### Conditional Statement (if)



```python
if condition1:
    do_something() # ถ้า condition1 เป็นจริงทำ do_something()
elif condition2:
    do_another_thing() ## ถ้า condition2 ไม่เป็นจริงแต่ condition2 เป็นจริง ทำ do_another_thing()
else:
    do_the_last_thing() # ถ้าไม่มี condition ไหนเป็นจริงเลย ทำ do_the_last_thing()

```

In [ ]:
for n in list_name:
    if len(n)>20:
        print(f'{n} ได้เกรด A')
    else:
        print(f'{n} ได้เกรด F')

นางสาวเบญญาภา ระภูเขียว ได้เกรด A
นางสาวปลายฟ้า คำเพ็ง ได้เกรด F
นางสาวทักษิณา ราชหุ่น ได้เกรด A

### Operator ที่ใช้ตรวจสอบ condition

==, !=, >=, <=, <, > and, or

In [ ]:
a = 10 == 20
print(a)

False

In [ ]:
b = 15 <= 20
print(b)

True

In [ ]:
if a:
    print('X')

In [ ]:
if True:
    print('X')

X

In [ ]:
if a and b:
    print('X')

In [ ]:
if a or b:
    print('X')

X

# HW
เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A) หรือ 'ไม่สามารถตัดเกรดได้'

วนลูปตัดเกรด input = [1,50,65,90,101,-5,49,'ก',80]

กำหนด

*  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
*  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
*  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
*  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
*  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
*  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
*  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
*  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
*  ถ้าคะแนนไม่อยู่ในช่วง 0-100 ให้ return 'ไม่สามารถตัดเกรดได้'

In [27]:
def grade(score):
    for x in score:
        if type(x) == type(''):
            print(f'คะแนน เท่ากับ {x} ไม่สามารถตัดเกรดได้')
        else:
            if x >= 0 and x < 50:
                print(f'คะแนน เท่ากับ {x} จะได้เกรด F')
            elif x >= 50 and x < 55:
                print(f'คะแนน เท่ากับ {x} จะได้เกรด D')
            elif x >= 55 and x < 60:
                print(f'คะแนน เท่ากับ {x} จะได้เกรด D+')
            elif x >= 60 and x < 65:
                print(f'คะแนน เท่ากับ {x} จะได้เกรด C')
            elif x >= 65 and x < 70:
                print(f'คะแนน เท่ากับ {x} จะได้เกรด C+')
            elif x >= 70 and x < 75:
                print(f'คะแนน เท่ากับ {x} จะได้เกรด B')
            elif x >= 75 and x < 80:
                print(f'คะแนน เท่ากับ {x} จะได้เกรด B+')
            elif x >= 80 and x <= 100:
                print(f'คะแนน เท่ากับ {x} จะได้เกรด A')
            else:
                print(f'คะแนน เท่ากับ {x} ไม่สามารถตัดเกรดได้')

In [28]:
input = [1,50,65,90,101,-5,49,'ก',80]
grade(input)

คะแนน เท่ากับ 1 จะได้เกรด F
คะแนน เท่ากับ 50 จะได้เกรด D
คะแนน เท่ากับ 65 จะได้เกรด C+
คะแนน เท่ากับ 90 จะได้เกรด A
คะแนน เท่ากับ 101 ไม่สามารถตัดเกรดได้
คะแนน เท่ากับ -5 ไม่สามารถตัดเกรดได้
คะแนน เท่ากับ 49 จะได้เกรด F
คะแนน เท่ากับ ก ไม่สามารถตัดเกรดได้
คะแนน เท่ากับ 80 จะได้เกรด A